[submodule "lib"]
	path = lib
	url = https://github.com/Cameloah/common_lib_wifi_debugger.git
[submodule "lib/common_lib_wifi_debugger"]
	path = lib/common_lib_wifi_debugger
	url = https://github.com/Cameloah/common_lib_wifi_debugger.git
